/*******************************************************************************
 * This file is part of ecco.
 * 
 * ecco is distributed under the terms of the GNU Lesser General Public License (LGPL), Version 3.0.
 * 
 * Copyright 2011-2013, The University of Manchester
 * 
 * ecco is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser
 * General Public License as published by the Free Software Foundation, either version 3 of the 
 * License, or (at your option) any later version.
 * 
 * ecco is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even 
 * the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser 
 * General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public License along with ecco.
 * If not, see http://www.gnu.org/licenses/.
 ******************************************************************************/

body {
    background: #fff url(../images/logomanchester.png) no-repeat 5px 0px;
    background-size: 150px 139px;
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, sans-serif; 
    color: #666666;
    margin-left: 60px;
    margin-right: 60px;
}

ul {
    list-style-type: none;
}

.highlight {
    font-weight: bold;
    background: #F2F5A9;    
}

.header {
    padding-bottom: 5px;
}

.content {
    padding-left: 20px;
    padding-top: 10px;
}

.result {
    padding-left: 40px;
    padding-top: 20px;
}

.box {
    padding: 10px 10px 10px 10px;
}

.footer {
    text-align: left;
    line-height: 18px;
    padding-top: 10px;
}

.keyword {
    color: #00B2B2;
    font-weight: bolder;
}

.some {
    color: #B200B2;
    font-weight:bolder;
}

.subclass {
    color: #094E92;
    font-weight:bolder;
}

#container {
    display: table;
}

#row {
    display: table-row;
}

#left, #right, #middle {
    display: table-cell;
    width: 400px;
}

#mytable {
    width: 700px;
    padding: 0;
    margin: 0;
}

caption {
    padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}

h3.add {
    font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #323232;
	border-bottom: 1px solid #8EDA71;
	border-top: 1px solid #8EDA71;
	text-align: left;
	padding: 4px 8px 4px 8px;
    background: #C3FFAE;
}

th {
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	text-align: left;
	padding: 6px 6px 6px 12px;
}

th.normaladd {
    font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #323232;
    border-right: 1px solid #8EDA71;
	border-bottom: 1px solid #8EDA71;
	border-top: 1px solid #8EDA71;
	background: #fff;
	padding: 6px 6px 6px 12px;
}

th.addition {
    font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #323232;
	border-right: 1px solid #8EDA71;
	border-bottom: 1px solid #8EDA71;
	border-top: 1px solid #8EDA71;
	text-align: left;
	padding: 6px 6px 6px 12px;
    background: #C3FFAE;
}

th.normalrem {
    font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #323232;
    border-right: 1px solid #EC8B85;
	border-bottom: 1px solid #EC8B85;
	border-top: 1px solid #EC8B85;
	background: #fff;
	padding: 6px 6px 6px 12px;
}

th.removal {
    font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #323232;
	border-right: 1px solid #EC8B85;
	border-bottom: 1px solid #EC8B85;
	border-top: 1px solid #EC8B85;
	text-align: left;
	padding: 6px 6px 6px 12px;
    background: #FF9890;
}

/*
tr.addition th {
    font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #323232;
	border-right: 1px solid #8EDA71;
	border-bottom: 1px solid #8EDA71;
	border-top: 1px solid #8EDA71;
	text-align: left;
	padding: 6px 6px 6px 12px;
    background: #C3FFAE;
}
*/

th.topleft {
	color: #323232;
	border-right: 1px solid #8EDA71;
	border-bottom: 1px solid #8EDA71;
	border-top: 1px solid #8EDA71;
	text-align: left;
	vertical-align: top;
	padding: 3px 200px 3px 10px;
    background: #C3FFAE;
}

th.topright {
	color: #323232;
	border-right: 1px solid #EC8B85;
	border-bottom: 1px solid #EC8B85;
	border-top: 1px solid #EC8B85;
	text-align: left;
	vertical-align: top;
	padding: 3px 200px 3px 10px;
    background: #C3FFAE;
    background: #FF9890;
}

td.topleft {
    border-right: 1px solid #8EDA71;
	border-bottom: 1px solid #8EDA71;
	background: #fff;
	vertical-align: top;
	padding: 6px 6px 6px 12px;
	color: #666666;
}

td.topright {
    border-right: 1px solid #EC8B85;
	border-bottom: 1px solid #EC8B85;
	background: #fff;
	vertical-align: top;
	padding: 6px 6px 6px 12px;
	color: #666666;
}

tr.addition td {
    border-right: 1px solid #8EDA71;
	border-bottom: 1px solid #8EDA71;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

td.o2 {
    border-right: 1px solid #8EDA71;
	border-bottom: 1px solid #8EDA71;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


tr.removal th {
    font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #323232;
	border-right: 1px solid #EC8B85;
	border-bottom: 1px solid #EC8B85;
	border-top: 1px solid #EC8B85;
	text-align: left;
	padding: 6px 6px 6px 12px;
    background: #FF9890;
}

tr.removal td {
    border-right: 1px solid #EC8B85;
	border-bottom: 1px solid #EC8B85;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

td.o1 {
    border-right: 1px solid #EC8B85;
	border-bottom: 1px solid #EC8B85;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;    
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

tr.withoutstyle td {
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background: #fff;
    color: #666666;
    border-right: 0px;
	border-bottom: 0px;
	border-top: 0px; 
	padding-top: 20px;
    padding-bottom: 0px;
}

tr {
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, sans-serif; 
    color: #666666;
    background: #fff;
    margin-left: 60px;
    margin-right: 60px;   
}

form.inl {
	display: inline;
}

#text {
    margin:50px auto; 
    width:500px
}

.hotspot {
/*    color:#900; */ 
    padding-bottom:1px; 
    cursor:pointer
}

#tt {
    position:absolute; 
    display:block; 
    background:url(../images/tt_left.gif) top left no-repeat
}

#tttop {
    display:block; 
    height:5px; 
    margin-left:5px; 
    background:url(../images/tt_top.gif) top right no-repeat; 
    overflow:hidden
}

#ttcont {
    display:block; 
    padding:2px 12px 3px 7px; 
    margin-left:5px; 
    background:#666; 
    color:#FFF
}

#ttbot {
    display:block; 
    height:5px; 
    margin-left:5px; 
    background:url(../images/tt_bottom.gif) top right no-repeat; 
    overflow:hidden
}

pre {
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    word-break: break-all;
}